@model ProjectWeather.MVC.Models.HomeModel;
@{
    ViewData["Title"] = "ProjectWeather";
    var msg = TempData["msg"];
}

<div class="container">
    @if (msg != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <span>@msg</span>
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Local Time</th>
                <th>Temp C</th>
                <th>Temp F</th>
                <th>Condition</th>
                <th>Wind Kph</th>
                <th>Wind Dir</th>
                <th>Humidity</th>
                <th>Uv</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Weathers.OrderByDescending(x => x.Time))
            {
                <tr>
                    <td>@item.Location.Name</td>
                    <td>@item.Location.Localtime</td>
                    <td>@item.Current.Temp_c</td>
                    <td>@item.Current.Temp_f</td>
                    <td>@item.Current.Condition.Text</td>
                    <td>@item.Current.Wind_kph</td>
                    <td>@item.Current.Wind_dir</td>
                    <td>@item.Current.Humidity</td>
                    <td>@item.Current.Uv</td>
                    <td><a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    <td><a class="btn btn-danger delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

